In [31]:
import pandas as pd
import sqlite3
import csv

In [58]:
con = sqlite3.connect('database.db')
c = con.cursor()
c.execute('CREATE TABLE assignments (Event_occurred_at, Analyst, Quality_score_sourcing, Quality_score_writing, Action, Request, Request_created_at, Job, Wait_time_min, Waiting_for, Analysts_available, Analysts_occupied, Total_jobs_available, Review_jobs_available, Vetting_jobs_available, Planning_jobs_available, Editing_jobs_available, Sourcing_jobs_available, Writing_jobs_available)')


#df = pd.read_csv('Assignment_Log.csv')
#df.to_sql('assignments', con, if_exists='append', index=False)

In [59]:
with open('Assignment_Log.csv','rb') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    for i in dr:
    to_db = [(i['col1'], i['col2']) for i in dr]

#cur.executemany("INSERT INTO t (col1, col2) VALUES (?, ?);", to_db)
#con.commit()
#con.close()

Error: iterator should return strings, not bytes (did you open the file in text mode?)

In [ ]:
c.execute('DROP TABLE assignments;')

In [60]:
c.execute("""SELECT * FROM assignments""")
data = pd.DataFrame(c.fetchall())
data.columns = [x[0] for x in c.description]
data

ValueError: Length mismatch: Expected axis has 0 elements, new values have 19 elements

In [43]:

df = pd.read_csv('Assignment_Log.csv')
df.to_sql(assignments, con, if_exists='append', index=False)

NameError: name 'assignments' is not defined

In [ ]:
import csv, sqlite3

con = sqlite3.connect('database.db')
c = con.cursor()
c.execute('CREATE TABLE assignments (Event_occurred_at, Analyst, Quality_score_(sourcing), Quality_score_(writing), Action, Request, Request_created_at, Job, Wait_time_(min), Waiting_for, Analysts_available, Analysts_occupied, Total_jobs_available, Review_jobs_available, Vetting_jobs_available, Planning_jobs_available, Editing_jobs_available, Sourcing_jobs_available, Writing_jobs_available)')
cur.execute("CREATE TABLE t (col1, col2);") # use your column names here

with open('Assignment_Log.csv','rb') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['col1'], i['col2']) for i in dr]

cur.executemany("INSERT INTO t (col1, col2) VALUES (?, ?);", to_db)
con.commit()
con.close()

In [14]:
df = pd.read_csv('Assignment_Log.csv')
df.head()
#df.to_sql(table_name, conn, if_exists='append', index=False)

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
0,06/22/2017 19:59:06,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Accepted Job,594bec5c95e2ce005840c23a,06/22/2017 12:12:12,review,1,review,0,13,14,4,6,2,0,1,1
1,06/22/2017 19:59:02,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Assigned Job,594bec5c95e2ce005840c23a,06/22/2017 12:12:12,review,1,review,1,13,15,5,6,2,0,1,1
2,06/22/2017 19:51:30,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Declined Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,9,"sourcing, writing",1,12,12,5,5,1,0,0,1
3,06/22/2017 19:51:01,0e9802516f8a79dd0d45211dd4ee74af,4.50,4.50,Accepted Job,594c1f5cd7e68f0028c9062c,06/22/2017 15:49:48,sourcing,1,"sourcing, writing",1,11,12,5,5,1,0,0,1
4,06/22/2017 19:50:58,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Assigned Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,8,"sourcing, writing",2,11,14,5,5,2,0,1,1

In [15]:
conn = sqlite3.connect('database.db')
c = conn.cursor()

In [30]:
df

KeyError: 0

In [28]:
df.dtypes

Event occurred at            object
Analyst                      object
Quality score (sourcing)    float64
Quality score (writing)     float64
Action                       object
Request                      object
Request created at           object
Job                          object
Wait time (min)               int64
Waiting for                  object
Analysts available            int64
Analysts occupied             int64
Total jobs available          int64
Review jobs available         int64
Vetting jobs available        int64
Planning jobs available       int64
Editing jobs available        int64
Sourcing jobs available       int64
Writing jobs available        int64
dtype: object

In [26]:
for x in df:
    print(x + ",")

Event occurred at,
Analyst,
Quality score (sourcing),
Quality score (writing),
Action,
Request,
Request created at,
Job,
Wait time (min),
Waiting for,
Analysts available,
Analysts occupied,
Total jobs available,
Review jobs available,
Vetting jobs available,
Planning jobs available,
Editing jobs available,
Sourcing jobs available,
Writing jobs available,

In [22]:
c.execute('CREATE TABLE test (a, b)')

In [45]:
c.execute('DROP TABLE assignments;')

In [27]:
c.execute('CREATE TABLE assignments (Event occurred at, Analyst, Quality score (sourcing), Quality score (writing), Action, Request, Request created at, Job, Wait time (min), Waiting for, Analysts available, Analysts occupied, Total jobs available, Review jobs available, Vetting jobs available, Planning jobs available, Editing jobs available, Sourcing jobs available, Writing jobs available)')

OperationalError: near "sourcing": syntax error

In [21]:
c.execute('CREATE TABLE Assignment_Log (Event occurred at, Analyst, Quality score (sourcing), Quality score (writing), Action, Request, Request created at, Job, Wait time (min), Waiting for, Analysts available, Analysts occupied, Total jobs available, Review jobs available, Vetting jobs available, Planning jobs available, Editing jobs available, Sourcing jobs available, Writing jobs available)')
conn.commit()

OperationalError: near "sourcing": syntax error

In [ ]:
import sqlite3, csv

# con = sqlite3.connect(":memory:")
con = sqlite3.connect("person.db")
cur = con.cursor()
cur.execute("CREATE TABLE person (personid STR,age STR,sex STR,primary_voting_address_id STR,state_code STR,state_fips STR,county_name STR,county_fips STR,city STR,zipcode STR, zip4 STR,  PRIMARY KEY(personid))") 

with open('person.csv','r') as person_table:
    dr = csv.DictReader(person_table, delimiter='\t') # comma is default delimiter
    to_db = [(i['personid'], i['age'], i['sex'], i['primary_voting_address_id'], i['state_code'], i['state_fips'], i['county_name'], i['county_fips'], i['city'], i['zipcode'], i['zip4']) for i in dr]

cur.executemany("INSERT INTO person VALUES (?,?,?,?,?,?,?,?,?,?,?);", to_db)
con.commit()

In [1]:
querycsv.py -i Assignment_Log.csv "select distinct analyte from testdata;"

SyntaxError: invalid syntax (<ipython-input-1-07a09b94ef57>, line 1)

In [10]:
querycsv.py -i 'Assignment_Log.csv' -f Assignment_Log.sqlite -k "select * from Assignment_Log.csv;"

SyntaxError: invalid syntax (<ipython-input-10-d53433b069d2>, line 1)

In [4]:
$ csvquery Assignment_Log.csv

SyntaxError: invalid syntax (<ipython-input-4-ddd27d4bce6d>, line 1)

In [5]:
sqlite> .mode csv

SyntaxError: invalid syntax (<ipython-input-5-d53c8f043317>, line 1)