# Part 1: Analysis

## Analyze and extract any interesting insights you can derive from the data set attached (each row represents the assignment of a job in our research queue, including some data about the analyst who received the assignment and the current state of the research queue). What can you infer? What do you think this means for us from a business perspective?

In [3]:
# Import necessary libraries

import sqlite3
import pandas as pd
pd.options.display.max_rows = 999

In [4]:
# Connect to databse
con = sqlite3.connect('database.db')
c = con.cursor()

# Part 2: Data Modeling

## Assuming we are starting with the data set from Part 1 as our raw data table, how would you model this data in a data warehouse for analytical purposes? What tables would you create? What kinds of questions do you imagine business users would want to ask of this data, and how would they express them in your data model? Please use whatever tools you are comfortable with to answer this question and whatever flavor of SQL you are most familiar with. A github repo or gist is preferred.

### Modeling the data

### Tables to create

### Business User Questions
   - How long does it take for a request to be completed?

# Part 3: SQL

## Assume we are using these two tables:

## What are the problem(s) with this SQL query?

- __SELECT ... SUM(COALESCE(orders.order_amt, 0)) AS total_2019__
    - Using COALESCE does not make any sense in this scenario. The order of operations says the FROM and WHERE statements are executed before the SELECT statement. Therefore, there is no need to account for any null values in the orders_amt column because any rows that have null values through the join (Julie Peters) will be dropped during the WHERE statement because the date will be null as well. It would be simpler to use the statement __SUM(orders.orders_amt).
- __WHERE order.order_date >= '20090101'__
    - In the orders table the format of the column order_date is, 'year-month-day'. The format of the date in the SQL query is 'yearmonthday'. These two formats do not match. This results in every row being returned that does not have a null value.